<div class="link">
    <h1>My Library</h1>
    <a class="l" routerLink="about" routerLinkActive="active">about us</a>
    <a class="l" routerLink="borrowers" routerLinkActive="active">borrower</a>
    <a class="l" routerLink="books" routerLinkActive="active">book</a>
    <a class="l" routerLink="lendings" routerLinkActive="active">lending</a>
    <a class="l" routerLink="borrowerList" routerLinkActive="active">add borrower</a>
    <a class="l" routerLink="managment" routerLinkActive="active">managment</a>
</div>