.link{
   text-align: center;
   background-color: pink;
   margin-bottom: 20px;
}
.l{
    margin: 40px;
    font-size: large;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a{
    font-size: 3vw !important;
}
h1{
    font-size: 4vw !important;
}